python-dotenv
langchain
langchain-google-genai
langchain-groq
chromadb
pydantic
streamlit
fastapi
uvicorn
openai
tiktoken
langchain-openai
langchain-core
langchain-anthropic
google-generativeai
langchain-huggingface
transformers
huggingface-hub
numpy
scikit-learn
langchain_ollama
torch 
torchvision 
torchaudio
sentence-transformers
pydantic[email]
grandalf
pygraphviz
langchain-community
pypdf # good for text only pdfs
pdfplumber # good with pdfs who have tables present in it 
beautifulsoup4
youtube-transcript-ap
pytube
youtube-transcript-api
langchain_experimental